<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="EcologicalTest">
  <ion-content class="padding">


<div class = "card">
   <div class = "item item-text-wrap">
        Based On Your Ecological habit Your are <p style="font-weight: bold; font-size: 20px; color: red;" absolute-drag>75%</p>fit for travling this spot.You may need following item for making your journey smooth!
   </div>
</div>

<div class = "list">
   <div class = "item">Cold Wear -$100</div>
   <div class = "item">Life Jacket- $200</div>
   <div class = "item">Sun Burn Cream -$70</div>
   <div class = "item">Sun Glass -$80</div>

<button class = "button button-block button-calm">Order Product</button>
<button class = "button button-block button-assertive">Hotel Book</button>
<button class = "button button-block button-balanced">Contact With Travel Agency</button>
<button class = "button button-block button-positive" ui-sref="tab.wish">Add Place To Wishlist</button>


</div>
</div>




  </ion-content>
</ion-view>
